body {
	background-image: url('../assets/img/about-background.png');
	background-position: top;
	background-attachment: fixed;
	background-blend-mode: color-burn;
}

.about__text--bg,
.card {
	background: rgba(57, 57, 57, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(54, 54, 54, 0.3);
}

.about__card__image__container {
	width: 8rem;
	height: 8rem;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.about__card__image {
	width: 100%;
}

.about__card__item:hover .nosotros__card__image__container {
	background-color: rgba(255, 200, 81, 0.8);
	transition: all 0.5s ease-in-out;
}

.about__card__item:hover .card-img-top img {
	filter: grayscale(0%);
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}

.about__card__item:hover .card {
	border-color: var(--color-primary);
	transform: scale(1.05);
	transition: all 0.5s ease-in-out;
}

.card img {
	filter: grayscale(100%);
}

.card-title {
	color: var(--color-primary);
}

.about__card__btn__social {
	color: var(--font-color-primary);
}

.about__card__btn__social:hover {
	color: var(--color-primary);
	transform: scale(1.3);
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 320px) {
	.about__card__image__container {
		width: 12rem;
		height: 12rem;
	}
}

@media screen and (min-width: 1400px) {
	.about__card__image__container {
		width: 10rem;
		height: 10rem;
	}
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
  }
  body{
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:100vh;
	background: #262433;
  }
  .menu{
	position:relative;
   width:280px;
	height:280px;
	display:flex;
	align-items:center;
	justify-content:center;
  }
  .menu .toggle{
	position:relative;
	height:60px;
	width:60px;
	background:#fff;
	border-radius:50%;
	box-shadow:0 3px 4px rgba(0,0,0,0.15);
	display:flex;
	align-items:center;
	justify-content:center;
	color:#333;
	font-size:2rem;
	cursor:pointer;
	transition:1.25s;
	z-index:5;
  }
  .menu.active .toggle{
	transform:rotate(360deg);
	box-shadow: 0 6px 8px rgba(0,0,0,0.15),
	  0 0 0 2px #333,
	  0 0 0 8px #fff;
  }
  .menu li{
	position:absolute;
	left:0;
	list-style:none;
	transition:0.5s;
	transform:rotate(calc(360deg/8 * var(--i)));
	transform-origin:140px;
	scale:0;
	transition-delay: calc(0.05s * var(--i));
  }
  .menu.active li{
	scale:1;
  }
  .menu li a{
	position:relative;
	display:flex;
    transform:rotate(calc(360deg/-8 * var(--i)));
	width:60px;
	height:60px;
	background-color:#FFF;
	display:flex;
	align-items:center;
	justify-content:center;
	border-radius:50%;
	font-size:1.75rem;
	color:var(--clr);
	box-shadow:0 3px 4px rgba(0,0,0,0.15);
	transition:0.5s;
  }
  .menu li:hover a{
	font-size:2.5rem;
	box-shadow:0 0 0 2px var(--clr),
	  0 0 0 6px #fff;
  }






  :root {
	--color-background: #000000;
	--color-primary: #5a1212;
	--font-color-primary: #ffffff;
	--font-color-secondary: #7b7b7b;
	--font-principal: 'Montserrat', sans-serif;
	--font-secundaria: 'Nunito Sans', sans-serif;
	--font-size-title: 2rem;
	--font-size-title-tablet: 2.5rem;
	--font-size-title-desktop: 3rem;
	--font-size-subtitle: 1.5rem;
	--font-size-subtitle-tablet: 2rem;
	--font-size-subtitle-desktop: 2.5rem;
	--font-size-parrafo: 1rem;
	--font-size-parrafo-tablet: 1.15rem;
	--font-size-parrafo-desktop: 1.25rem;
	--font-size-bottom: 1.2rem;
}

.nosotros__card__btn__social {
	color: var(--font-color-primary);
}

.nosotros__card__btn__social:hover {
	color: var(--color-primary);
	transform: scale(1.3);
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

