
.productCardBg{
  background:#a12f3d;
}
.productTittle{
  color:#742736;
}
.similarHover:hover{
  background-color: #872a39 !important;
  transition: .7s;
}
.redColor{
  background-color: #872a39 !important
}
.floatImage{
  animation: float 4s linear infinite;
}
@keyframes float {
  0% , 100%{
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-1rem);
  }
  
}