@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --blue : #12d2db;
    --purple : #912a7eaa;
    --white : #fcf2fa;
    --purple-blc : #230622dd;
    --shadow : 0.5px 10px 5px rgba(0, 0, 0, .3);
    --navColor : linear-gradient(to right, rgba(178, 47, 147, .6)5%, rgba(35, 6, 34, .9));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: black
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255,0.1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}
nav .logo a {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
nav .logo a img{
    width: 48px;
    position: absolute;
    top: 50;
    left: 0;
    transform: translateX(30px);
}

nav .logo a:hover {
    color: #ff2222;
    transition: .5s;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
nav ul li{
    list-style: none;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a:hover{
    color: #ff2222;
    transition: .5s;
}
.menu-icon{
    display: none;
    width: 25px;
    height: 3px;
    background: #fff;
    transform: translateY(-50%);
    transition: .5s;
    border-radius: 5px;
    cursor: pointer;
}
.menu-icon::before, 
.menu-icon::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: .5s;
    border-radius: 5px;
}
.menu-icon::before{
    top: -8px;
}
.menu-icon::after{
    top: 8px;
}

.menu-icon.active{
    background: rgba(0,0,0,0);
}
.menu-icon.active::before{
    top: 0;
    transform: rotate(45deg);
}
.menu-icon.active::after{
    top: 0;
    transform: rotate(135deg);
}
@media screen and (max-width:992px) {
    nav ul {
        position: fixed;
        top: 80px;
        left: 100%;
        width: 100%;
        height: 400px;
        background: rgba(0,0,0,.5);
        flex-direction: column;
        gap: 1.5rem;
        transition: .5 ease-in;
        border-bottom: 2px solid rgba(255, 255, 255, .2);
    }
    nav ul li a{
        font-size: 24px;
    }
    ul.active{
        left: 0;
    }    
    .menu-icon{
        display: block;
    }
    
}
@media screen and (max-width:767px){
    nav{
        padding: 0 50px;
    }
    nav .logo a img{
        display: none;
    }
    
}
@media screen and (max-width:567px){
    nav ul li a{
        font-size:20px;
    }
    
}
