@import url(./main.css);
.navBar{ 
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0,0.5);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    z-index: 100;
}
.navBar .logo a {
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.navBar .logo a img{
    width: 48px;
    position: absolute;
    top: 50;
    left: 0;
    transform: translateX(30px);
}

.navBar .logo a:hover {
    color:#e72313;
    transition: .5s;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}
.navBar ul li{
    list-style: none;
}
.navBar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navBar ul li a:hover{
    color: #e72313;
    transition: .5s;
}
.menu-icon{
    display: none;
    width: 25px;
    height: 3px;
    background: #fff;
    transform: translateY(-50%);
    transition: .5s;
    border-radius: 5px;
    cursor: pointer;
}
.menu-icon::before, 
.menu-icon::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: .5s;
    border-radius: 5px;
}
.menu-icon::before{
    top: -8px;
}
.menu-icon::after{
    top: 8px;
}

.menu-icon.active{
    background: rgba(0,0,0,0);
}
.menu-icon.active::before{
    top: 0;
    transform: rotate(45deg);
}
.menu-icon.active::after{
    top: 0;
    transform: rotate(135deg);
}
@media screen and (max-width:992px) {
    .navBar ul {
        position: fixed;
        top: 80px;
        left: 100%;
        width: 100%;
        height: 300px;
        background: rgba(13, 13, 13) !important;
        backdrop-filter: blur(1px) !important;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
        transition: .5 ease-in;
        border-bottom: 2px solid rgba(255, 255, 255, .1);
    }
    .navBar ul li a , .fs-admin{
        font-size: 24px;
    }
    ul.active{
        left: 0;
    }    
    .menu-icon{
        display: block;
    }
    .dropdown-menu{
        width: 400px !important;
        height: 150px !important;
    }
}
@media screen and (max-width:767px){
    .navBar{
        padding: 0 50px;
    }
    .navBar .logo a img{
        display: none;
    }
    
}
@media screen and (max-width:567px){
    .navBar ul li a, .fs-admin{
        font-size:20px;
    }
    
}
.hidden{
    visibility: hidden;
}
.dropdown-bg{
    background: rgb(8, 8, 8) !important;
}
.pointer{
    cursor: pointer;
}