<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Devs-Sharks-Rolling</title>
  </head>
  <body>
    <main class="container-fluid pt-2">
      <section
        id="nosotros"
        class="container-md align-items-center justify-content-center"
      >
        <article class="row mb-4">
          <div class="col-12">
            <h1 class="text-center title">Devs-Sharks-Rolling</h1>
            <p class="text-center paragraph fst-italic nosotros__text--bg p-4">
              En el corazón de la revolución digital, se encuentra un equipo de
              desarrolladores web llamados <strong>Devs-Sharks</strong> dedicados
              y apasionados. Por primera vez, están implementando HTML, CSS y
              JavaScript, los pilares fundamentales de la web, para crear una
              plataforma de comercio electrónico de insumos tecnológicos.
              <br />Este equipo no es solo un grupo de codificadores; son
              artistas digitales, cada uno aportando su propia dosis de
              creatividad y originalidad al proyecto. Cada línea de código que
              escriben es como un trazo de pincel en un lienzo, contribuyendo a
              una obra maestra en constante evolución. Pero más allá de su
              creatividad, este equipo también entiende la importancia de la
              responsabilidad. Saben que están construyendo algo más que una
              simple página web; están creando una experiencia para sus
              usuarios. Cada decisión que toman, cada característica que
              implementan, está guiada por un compromiso con la calidad, la
              seguridad y la satisfacción del usuario.<br /> Así que, cuando visites
              su sitio web, no solo verás una tienda en línea de insumos
              tecnológicos. Verás el resultado de innumerables horas de
              trabajo duro, creatividad y dedicación. Verás la pasión de un
              equipo de desarrolladores web que están haciendo más que
              simplemente escribir código; están dando vida a su visión.
            </p>
          </div>
        </article>
        <article>
          <ul
            class="row list-unstyled gy-4 justify-content-xxl-center align-items-stretch"
          >
            <li
              class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 d-flex justify-content-center align-items-stretch nosotros__card__item"
            >
              <div
                class="card p-2 text-center scrollFadeAnimation"
                style="width: 18rem"
              >
                <div class="nosotros__card__image__container card-img-top">
                  <img
                    src="../../assets/img/nosotros-jere.png"
                    class="nosotros__card__image"
                    alt="foto miembro del equipo jeremias"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Jeremias Juarez M.</h5>
                  <a
                    href="https://github.com/JeremiasJM"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-github"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/jeremiasjm98/"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-instagram"></i
                  ></a>
                  <a
                    href="https://twitter.com/JuarezMarrades"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-twitter-x"></i
                  ></a>
                  <a
                    href="mailto:jeremiasjuarezmarrades15@gmail.com"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-envelope-at-fill"></i
                  ></a>
                </div>
              </div>
            </li>
            <li
              class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 d-flex justify-content-center align-items-stretch nosotros__card__item"
            >
              <div
                class="card p-2 text-center scrollFadeAnimation"
                style="width: 18rem"
              >
                <div class="nosotros__card__image__container card-img-top">
                  <img
                    src="../../assets/img/nosotros-eze.png"
                    class="nosotros__card__image"
                    alt="foto miembro del equipo ezequiel"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Ezequiel Massa</h5>
                  <a
                    href="https://github.com/EzequielMassa"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-github"></i
                  ></a>
                  <a
                    href="https://www.linkedin.com/in/ezequiel-massa-dev/"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-linkedin"></i
                  ></a>
                  <a
                    href="https://portfolio-emdev.firebaseapp.com/emdev"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-globe"></i
                  ></a>
                  <a
                    href="mailto:ezequielmassa.dev@gmail.com"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-envelope-at-fill"></i
                  ></a>
                </div>
              </div>
            </li>
            <li
              class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 d-flex justify-content-center align-items-stretch nosotros__card__item"
            >
              <div
                class="card p-2 text-center scrollFadeAnimation"
                style="width: 18rem"
              >
                <div class="nosotros__card__image__container card-img-top">
                  <img
                    src="../../assets/img/nosotros-cami.png"
                    class="nosotros__card__image"
                    alt="foto miembro del equipo camila"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Camila Herrera</h5>
                  <a
                    href="https://github.com/camilaherrera93"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-github"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/camilaherrera_ok/"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-instagram"></i
                  ></a>
                  <a
                    href="mailto:kamurs93@gmail.com"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-envelope-at-fill"></i
                  ></a>
                </div>
              </div>
            </li>
            <li
              class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 offset-md-2 offset-lg-0 d-flex justify-content-center align-items-stretch nosotros__card__item"
            >
              <div
                class="card p-2 text-center scrollFadeAnimation"
                style="width: 18rem"
              >
                <div class="nosotros__card__image__container card-img-top">
                  <img
                    src="../../assets/img/nosotros-cris.png"
                    class="nosotros__card__image"
                    alt="foto miembro del equipo cristian"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Cristian Fernandez</h5>
                  <a
                    href="https://github.com/Fernandez-Cristian-Javier-ISI-UTN-FRT"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-github"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/cristian_fernandez893/"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-instagram"></i
                  ></a>
                  <a
                    href="https://www.facebook.com/cristianjavier.fernandez.58?mibextid=ZbWKwL"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-facebook"></i
                  ></a>
                  <a
                    href="mailto:fernandezcristiana.utn@gmail.com"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-envelope-at-fill"></i
                  ></a>
                </div>
              </div>
            </li>
            <li
              class="col-12 col-md-4 col-lg-3 col-xxl-2 d-flex mx-lg-auto mx-xxl-0 justify-content-center align-items-stretch nosotros__card__item"
            >
              <div
                class="card p-2 text-center scrollFadeAnimation"
                style="width: 18rem"
              >
                <div class="nosotros__card__image__container card-img-top">
                  <img
                    src="../../assets/img/nosotros-mati.png"
                    class="nosotros__card__image"
                    alt="foto miembro del equipo matias"
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">Matias Paz</h5>
                  <a
                    href="https://github.com/MPaz-17P"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-github"></i
                  ></a>
                  <a
                    href="https://www.instagram.com/mattt.pz/"
                    target="_blank"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-instagram"></i
                  ></a>
                  <a
                    href="mailto:matias.job19@gmail.com"
                    class="btn nosotros__card__btn__social"
                    ><i class="bi bi-envelope-at-fill"></i
                  ></a>
                </div>
              </div>
            </li>
          </ul>
        </article>
      </section>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
