<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Registro</title>
</head>
<body>
    <section >
        <h2>Registro</h2>
         <form id="SignUpForm">
                    <label>Nombre</label>
                    <input maxlength="40" autocomplete="off" type="text" placeholder="..." id="name" required autofocus>
                    <label>Mail</label>
                    <input minlength="10" maxlength="50" autocomplete="off" type="email" placeholder="..." id="email" required>
                    <label>Contraseña</label>
                    <input minlength="8" type="password" placeholder="..." id="password" required>
                    <input type="submit" value="Registro">
                </form>
            <p>Ya tienes una cuenta? <a href="/views/login.html">Login</a></p>
    </section>
    <script type="module" src="../js/signUp.js"></script>
</body>
</html>